<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content reponse</title>
</head>
<body>
    <div>
        <p>Hello <%=name%>,
            <br>Thanks for contacting us, we will set your appionment with <%=user%> at <strong><%=time%>
            <%=date%></strong>. we will  contact you your email @ <%=email%> for updates. for update.</p>
    </div>
</body>
</html>